body {
    background-image: url('../fondo.png');
    background-size: 100%;
    height: 200vh;
    margin: 0;
}

header {
    background: #1d3644;
    display: flex;
    height: 52px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 200px;
}

.notification {
    color: white;
    width: 50px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;


}
.notification.notify::before{
    animation-name: bell;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transform-origin: center top;
    animation-timing-function: ease-out
}

.notification::before {
    content: "\f0f3 ";
    font-family: "FontAwesome";
    display: block;

}


@keyframes bell {
    0% {
        transform: rotate(35deg);
    }

    12.5% {
        transform: rotate(-30deg);
    }

    25% {
        transform: rotate(25deg);
    }

    37.5% {
        transform: rotate(-20deg)
    }

    50% {
        transform: rotate(-15deg)
    }

    62.5% {
        transform: rotate(10deg)
    }

    75% {
        transform: rotate(5deg)
    }

    100% {
        transform: rotate(0deg);
    }
}


.notification::after {
    content: attr(data-count);
    /*data-count atributo en html*/
    font-size: 11px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 14px;
    height: 14px;
    background-color: #ff4600;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    right: 6px;
    opacity: 0;
    transition: .3s;
    transform: scale(.5);
    will-change: opacity transform;
}

.notification.show-count::after {
    opacity: 1;
    transform: scale(1)
}

.btn {
    text-align: center;
    padding: .6em .8em .8em;
    border: none;
    color: white;
    background: lightgray;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: inset 0 -.2em rgba(0, 0, 0, .2);
    outline: 0;
    transition: .2s;
    will-change: transform;
}

.btn:active {
    transform: scale(.9);
}

.btn.primary {
    background: #7dc800;
}